


@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');


div,h1,h2,h3,h4,h5,h6,p,img,a,ul,li{
  margin:0px ;
  padding:0px;
}




/*font-family: 'Poppins', sans-serif;*/
/*needed*/
a{
  text-decoration:none !important;
  -webkit-transition:300ms;
  -moz-transition:300ms;
  -ms-transition:300ms;
  -o-transition:300ms;
  transition:300ms;
}
a:hover{
  text-decoration:none !important;
}
ul{
  list-style-type:none;
}
.clear{
  clear:both;
}
/*needed*/




		/******** post-mid ************/


#post{
	margin-top: 15px;
}

.post-mid{
	margin:0px 0px 0px 5px;
	padding:0px 0px 0px 0px;
	width:620px;
	float:left;
}
.box1{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	overflow:hidden;
	width:100%;
	border-radius:5px;
	border:1px solid #ededed;
}
.part1{
	margin:0px 0px 0px 0px;
	padding:0px 10px 0px 100px;
	border-bottom:1px solid #ededed;
	position:relative;
	overflow:hidden;
}
.part1 ul.left{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	overflow:hidden;
	float: left;
	width: 40%;
}
.part1 ul.left li{
	margin:0px 25px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.part1 ul.left li a{
	margin:0px 0px 0px 0px;
	padding:0px 0px 7px 0px;
	font-weight:bold;
	font-size:12px;
	color:#979797;
	display:block;
}
.part1 ul.left li a:hover{
	color:#004080;
	border-bottom:1px solid #004080;
}
.part1 ul.left li a.active{
	color:#004080;
	border-bottom:1px solid #004080;
}
.part1 ul.left li a img{
	margin:0px 5px 0px 0px;
	float:left;
}
.part1 ul.left li a span{
	margin:0px 0px 0px 0px;
}
.part1 ul.left li a i.fas{
	margin:0px 5px 0px 0px;
}
.part1 ul.left li.last{
	margin:0px 0px 0px 0px;
}




.part1 ul.right{
	margin:2px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	overflow:hidden;
	float: right;
	width:85px;
	height: 20px;
}
.part1 ul.right li{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.part1 ul.right li a{
	margin:0px 0px 0px 0px;
	padding:0px 0px 7px 0px;
	font-weight:normal;
	font-size:13px;
	color:#979797;
	display:block;
}

.part1 ul.right li a.active{
	font-weight:bold;
	font-size:13px;
	color:#004080;
}
.part1 ul.right li a img{
	margin:1px 5px 0px 0px;
	float:left;
}
.part1 ul.right li a span{
	margin:0px 0px 0px 0px;
}
.part1 ul.right li a i.fas{
	margin:0px 5px 0px 0px;
}
.part1 ul.right li.last{
	margin:0px 0px 0px 0px;
}
	

	
	
.part2{
	margin:0px 0px 0px 0px;
	padding:10px 12px 10px 12px;
	overflow:hidden;
}
.part2-left{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.part2-left img.tanya{
	margin:0px 0px 0px 0px;
	display:block;
}
.part2-left span{
	margin:8px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	display:block;
	font-weight:600;
	font-size:13px;
	color:#000;
}

.part2-right{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:515px;
	float:right;
	position:relative;
}
textarea.area{
	margin:0px 0px 0px 0px;
	padding: 10px 12px 10px 12px;
	width: 100%;
	border: none;
	background:#f5f5f5;
	height: 66px;
	font-weight:normal;
    font-size: 18px;
    color: #8e8d8d;
	position:relative;
	border-radius:5px;
}
	
.part2-right::before{
	margin: 20px 0px 0px -13px;
	padding:0px 0px 0px 0px;
	content:'';
	position:absolute;
	top:0;
	left:0;
	background:url(../images/tri-arrow.png) 0px 0px no-repeat;
	width:16px;
	height:18px;
}
		
		
.part3{
	margin:0px 0px 0px 0px;
	padding:7px 10px 7px 95px;
	overflow:hidden;
}
.part3-left{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
a.left1{
	margin:0px 15px 0px 0px;
	padding:0px 0px 0px 0px;
	display:block;
	width:136px;
	border:1px solid #bdc1a3;
	border-radius:40px;
	background:linear-gradient(#fff,#d7dcc1);
	line-height:32px;
	overflow:hidden;
	float:left;
}
img.emo-pic{
	margin: 5px 8px 0px 9px;
	float:left;
}
a.left1 span{
	margin:0px 0px 0px 0px;
	float:left;
	font-weight:bold;
	font-size:13px;
	color:#004080;
}

a.left2{
	width:152px;
}
a.left2 img.emo-pic{
	margin: 8px 8px 0px 14px;
}

a.left3{
	margin:0px 0px 0px 0px;
	width:42px;
	height:32px;
}
a.left3 img.emo-pic{
	margin:13px auto 0px auto;
	display:block;
	float:none;
}
a.publish{
	margin: 16px 12px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
	font-weight:bold;
	font-size:13px;
	color:#b5b4b4;
	display:block;
	width:116px;
	line-height:34px;
	border-radius:40px;
	border:1px solid #b5b4b4;
	background:transparent;
	position:absolute;
	top:0;
	right:0;
}
img.send-img{
	margin:10px 0px 0px 17px;
	float:left;
}
a.publish span{
	margin:0px 0px 0px 12px;
}

.box2{
	margin:12px 0px 12px 0px;
	padding:12px 12px 12px 12px;
	width:100%;
	overflow:hidden;
	border: 1px solid #ededed;
	border-radius:5px;
}
.box2-left{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	width:41px;
}
.box2-left ul{
	margin:12px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.box2-left ul li{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.box2-left ul li a{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	font-size:9px;
	color:#727272;
	display:block;
}
.box2-left ul li.last{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
img.react-pics{
	margin:10px 0px 10px 0px;
	padding:0px 0px 0px 0px;
}
.box2-left p{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:500;
	font-size:10px;
	color:#525252;
}
.box2-left p a{
	margin:6px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	font-size:10px;
	color:#777777;
	display:block;
}
.box2-right{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
	width: 540px;
}

.box2-right h4{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	font-size:13px;
	color:#0d006e;
}
.box2-right p{
	margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: 500;
    font-size: 14px;
    color: #777676;
}	
.box2-right a{
	margin:5px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:500;
	font-size:12px;
	color:#004080;
}	
.box2-right .robin_img_new img{
	    position: absolute;
    top: -20px;
    left: 80px;
}
img.tnya-vid{
	margin:10px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
	
	
	
.box3{
	margin:0px 0px 0px 0px;
	padding:14px 12px 14px 12px;
	width:100%;
	overflow:hidden;
	border: 1px solid #ededed;
	border-radius: 5px;
	height: 470px;
}
a.moment{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	font-size:17px;
	color:#373737;
	display:block;
}
a.moment img{
	margin:3px 0px 0px 0px;
	float:left;
}
a.moment span{
	margin:0px 0px 0px 8px;
	float:left;
}
.box3 ul.one{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
	width:106px;
}
.box3 ul.one li{
	margin:0px 15px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.box3 ul.one li a{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	font-size:14px;
	color:#004080;
	display:block;
}
.box3 ul.one li.last{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.box3 ul.one li a i.fas{
	font-size:20px;
}

.view-pics{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	height:auto;
	position:relative;
}
.view-pics2{
	margin:0px 0px 0px 0px;
	padding:10px 0px 0px 0px;
	height:auto;
}
.view11 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 20%;
    float: left;
    overflow: hidden;
    position: relative;
    height: 170px;
}
.view11 a:hover{
	color:#fff;
}
a.nt-text{
	margin:-145px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:normal;
	font-size:12px;
	color:#fff;
	display:block;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	line-height:21px;
	border-radius: 3px 3px 0px 0px;
}
a.text2{
	margin:-81px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:normal;
	font-size:12px;
	color:#fff;
	display:block;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	line-height:21px;
}
a.text3{
	margin:-89px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:normal;
	font-size:12px;
	color:#fff;
	display:block;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	line-height:21px;
}
a.nt-textt {
    margin:0px -11px 0px 0px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    width: 19px;
}
a.nt-textt img.crs{
	margin:0px auto 5px auto;
	display:block;
}

a.nt-text2{
	margin:-108px 0px 5px 0px;
	padding:0px 0px 0px 0px;
	font-weight:normal;
	display:block;
	text-align:center;
}
.view1{
	margin:0px 5px 0px 0px;
	padding:0px 0px 0px 0px;
	position:relative;
	border-radius:5px;
	overflow:hidden;
}

.inner-text{
	margin:0px 0px 0px 0px;
	padding: 0px 15px 0px 15px;
	width:100%;
	position:absolute;
	bottom: 17px;
	left:0;
	-webkit-transition:300ms;
  -moz-transition:300ms;
  -ms-transition:300ms;
  -o-transition:300ms;
  transition:300ms;
}
.view1:hover{
	box-shadow: 0px 5px 4px 0px rgba(0,0,0,.18);
}
/*.view2{
	box-shadow: 0px 5px 4px 0px rgba(0,0,0,.18);
}*/

.view1:hover .inner-text{
	display:none;
}
.view2 .inner-text{
	display:none;
}
.inner-text img{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
img.rvavtr{
	margin:0px auto;
	display:block;
}
.inner-text h3 {
    margin: 13px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: 500;
    font-size: 10px;
    color:#fff;
    text-align: center;
}


.inner-text2{
	margin:0px 0px 0px 0px;
	padding:0px 40px 0px 36px;
	width:100%;
	position:absolute;
	bottom:20px;
	left:0;
	display:none;
	-webkit-transition:300ms;
  -moz-transition:300ms;
  -ms-transition:300ms;
  -o-transition:300ms;
  transition:300ms;
  z-index:99999;
}
.inner-text2 img{
	margin:0px auto 0px auto;
	display:block;
}
.inner-text2 h3{
	margin: 62px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-weight: 500;
	font-size: 12px;
	color:#fff;
	text-align:center;
}
.view1:hover .inner-text2{
	display:block;
	padding:0px 15px 0px 15px;
}
.view2 .inner-text2{
	display:block;
	padding:0px 15px 0px 15px;
}
.overlay{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background:rgba(0,0,0,.70);
	position:absolute;
	top:450px;
	left:0px;
	width: 100%;
	height: 100%;
	-webkit-transition:300ms;
  -moz-transition:300ms;
  -ms-transition:300ms;
  -o-transition:300ms;
  transition:300ms;
  z-index:999;
}
.view1:hover .overlay{
	top:0px;
}

.view2 .overlay{
	top:10px;
	background:rgba(210, 5, 8, 0.7);
	border-radius: 5px 5px 0px 0px;
}
.view-new:hover .overlay{
	top:0px;
	background: rgba(226,14,17,.70);
}
/*.view2:hover .overlay{
	background:rgba(0,0,0,.50);
}*/
/*.pics{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	position:relative;
	width:100%;
	height:100%;
	background:url(../images/view1.png) 0px 0px no-repeat;
}*/



.bdr{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background:#373737;
	width:100%;
	height:22px;
	border-top:6px solid rgba(255,255,255,.80);
	display:none;
	-webkit-transition:300ms;
  -moz-transition:300ms;
  -ms-transition:300ms;
  -o-transition:300ms;
  transition:300ms;
  position:relative;
  z-index:9999;
}
.view1:hover .bdr{
	display:block;
}
.view2 .bdr{
	display:block;
	background:#e20e11;
}
.view-new:hover  .bdr{
	display:block;
	background:#e20e11;
}
/*.view2:hover .bdr{
	background:#373737;
}*/
img.vw-pic{
	margin:10px 0px 0px 0px;
	width:100%;
	-webkit-transition:300ms;
  -moz-transition:300ms;
  -ms-transition:300ms;
  -o-transition:300ms;
  transition:300ms;
}
.view1:hover img.vw-pic{
	margin:0px 0px 0px 0px;
}
.view2 img.vw-pic{
	margin:10px 0px 0px 0px;
	position:relative;
	z-index:1;
}
/*.view1:hover img.vw-pic{
	transform:scale(.99,.99);
}*/
.view1:hover img.vw-pic{
	transform:scale(1.2,1.2);
}
.view2:hover img.vw-pic{
	transform:scale(1.2,1.2);
}
.view3{
	/*margin:0px 0px 0px 0px;*/
}


.box4{
	margin:12px 0px 0px 0px;
	padding:18px 12px 34px 12px;
	width:100%;
	overflow:hidden;
	border: 1px solid #ededed;
	border-radius:5px;
}
.box4-left{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	width:81px;
}
.box4-left ul{
	margin:12px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.box4-left ul li{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.box4-left ul li a{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	font-size:9px;
	color:#727272;
	display:block;
}
.box4-left ul li.last{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.box4-left .img.react-pics{
	margin:10px 0px 10px 0px;
	padding:0px 0px 0px 0px;
}
.box4-left p{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:500;
	font-size:10px;
	color:#525252;
}
.box4-left p a{
	margin:6px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	font-size:10px;
	color:#777777;
	display:block;
}


.box4-right{
	margin:0px 0px 0px 0px;
	padding:20px 0px 17px 0px;
	float:right;
	width: 625px;
	border: 1px solid #ededed;
	border-radius:5px;
}

.list1{
	margin:0px 0px 0px 0px;
	padding:0px 12px 0px 12px;
	overflow:hidden;
}
.list1 h4{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	font-size:13px;
	color:#0d006e;
	float:left;
}
.list1 p{
	margin:0px 0px 0px 15px;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	font-size:13px;
	color:#0d006e;
	float:right;
}
.list1 p a {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: normal;
    font-size: 15px;
    color:#8f8f8f;
    display: block;
}
.list1 p a img {
    margin: 0px 0px 0px 0px;
    float: left;
}
.list1 p a span {
    margin: 0px 0px 0px 5px;
    float: left;
}



.list1 ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:73px;
	float:right;
}
.list1 ul li{
	margin:0px 10px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.list1 ul li a{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:12px;
	color:#515151;
}
.list1 ul li a img{
	margin:3px 0px 0px 0px;
}
.list1 ul li.last{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
p.demo{
	margin:9px 0px 0px 0px;
	padding:0px 18px 0px 12px;
	font-weight:500;
	font-size:13px;
	color:#626262;
}



.feedback{
	margin:15px 0px 0px 0px;
	padding:5px 15px 5px 15px;
	width:100%;
	overflow:hidden;
	background:#f7f7f7;
	border-bottom:1px solid #e9e9e9;
}

ul.left-list{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	width:280px;
	position:relative;
}

ul.left-list li{
	margin:0px 13px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
ul.left-list li.last{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	position:relative;
}
ul.left-list li.last::before{
	margin: 5px 0px 0px -11px;
	padding: 0px 0px 0px 0px;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 10px;
	height: 12px;
	background: url(../images/tail.png) 0px 0px no-repeat;
}
ul.left-list li a{
	margin: 0px 0px 1px 0px;
	padding: 2px 8px 2px 8px;
	font-weight: normal;
	font-size: 12px;
	color:#0d006e;
	display: block;
	background:#fff;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,.12);
	position: relative;
}

ul.left-list li a img{
	margin:0px 4px 0px 0px;
	float:left;
}
ul.left-list li a span{
	margin:0px 6px 0px 0px;
	float:left;
}






ul.right-list{
	margin:2px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
	width:160px;
}
ul.right-list li{
	margin:0px 10px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
ul.right-list li.last{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
ul.right-list li a{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:normal;
	font-size:12px;
	color:#0d006e;
	display:block;
}
ul.right-list li a img{
	margin:2px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
ul.right-list li a span{
	margin:0px 0px 0px 5px;
	padding:0px 0px 0px 0px;
	float:left;
}

ul.right2-list {
margin: 6px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: right;
    position: relative;
    width:78%;
}
ul.right2-list::before{
	margin: 5px 0px 0px -11px;
	padding:0px 0px 0px 0px;
	position:absolute;
	content:'';
	top:0;
	left:0;
	width:10px;
	height:12px;
	background:url(../images/tail.png) 0px 0px no-repeat;
}
ul.right2-list li{
	margin:0px 10px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
ul.right2-list li.last{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
ul.right2-list li a {
    margin: 0px 0px 1px 0px;
    padding: 2px 0px 2px 0px;
    font-weight: normal;
    font-size: 12px;
    color:#0d006e;
	display: block;
	background:#fff;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,.12);
	position:relative;
}

ul.right2-list li a img{
	margin:2px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
ul.right2-list li a span{
	margin: 0px 7px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}

ul.left2-list{
	margin:6px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	width:220px;
}
ul.left2-list li{
	margin:0px 10px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
ul.left2-list li.last{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
ul.left2-list li a{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:normal;
	font-size:12px;
	color:#0d006e;
	display:block;
}
ul.left2-list li a img{
	margin:2px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
ul.left2-list li a span{
	margin:0px 0px 0px 5px;
	padding:0px 0px 0px 0px;
	float:left;
	font-weight:bold;
}


.feedback2{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background:#fff;
	overflow:hidden;
	width:100%;
}
.feedback2 ul.one{
	margin:14px 0px 0px 0px;
	padding:0px 15px 0px 15px;
	overflow:hidden;
}
.feedback2 ul.one li{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.feedback2 ul.one li.mid{
	margin:0px 0px 0px 188px;
	padding:0px 0px 0px 0px;
}
.feedback2 ul.one li.last{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
}
.feedback2 ul.one li a{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:500;
	font-size:14px;
	color: #004080;
	display:block;
}

.setting_black a{
	    background: #000 !important;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
} 
.setting_black a:hover{
	text-decoration: none;
	color: #fff;
}

.comnt1{
	margin:14px 0px 0px 0px;
	padding:0px 10px 0px 22px;
	overflow:hidden;
}
img.cmnt-pic{
	margin:0px 0px 0px 0px;
	float:left;
}

.comnt-right{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
	width:450px;
}
.comnt1-text{
	margin:0px 0px 0px 0px;
	padding:15px 15px 15px 15px;
	background:#f7f7f7;
	border-radius:15px;
	width:100%;
}
.comnt1-text h4{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:bold;
	font-size:14px;
	color:#0d006e;
	float:left;
	overflow:hidden;
	width:100%;
}
.comnt1-text h4 span{
	float:right;
	font-weight: 500;
	font-size: 12px;
	color:#626262;
}
.comnt1-text p{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:500;
	font-size:13px;
	color:#5b5b5b;
}
.comnt-row{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	overflow:hidden;
}
ul.lt-side{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 15px;
	float:left;
	width:170px;
}
ul.lt-side li{
	margin:0px 22px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
ul.lt-side li.last{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
ul.lt-side li a{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:500;
	font-size:12px;
	color:#626262;
	display:block;
	line-height:29px;
}
ul.lt-side li a img{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
ul.lt-side li a span{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}



.comnt2{
	margin: 14px 0px 0px 0px;
	padding: 0px 10px 0px 40px;
}
.comnt-right2 {
    width: 500px;
}



.comnt3{
	margin: 14px 0px 20px 0px;
	padding: 0px 10px 0px 56px;
}
.comnt-right3 {
    width:482px;
}

.bottom{
	margin:0px 0px 0px 0px;
	padding:12px 12px 12px 12px;
	overflow:hidden;
	width:100%;
	border-top:1px solid #e9e9e9;
}
.bottom h5{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:500;
	font-size:14px;
	color: #004080;
}

.sender{
	margin:15px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	overflow:hidden;
}
.sender img.sender-img{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.sender-text{
	margin:0px 0px 0px 0px;
	padding:5px 5px 5px 20px;
	border:1px solid #d2d2d2;
	border-radius:40px;
	float:right;
	width:548px;
}
.sender-text h6{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:500;
	font-size:14px;
	color:#d0cfcf;
	float:left;
	line-height:31px;
}
.sender-text ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
	width:280px;
}
.sender-text ul li{
	margin:0px 18px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	line-height:31px;
}
.sender-text ul li.first {
    margin: 0px 11px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: 500;
    font-size: 14px;
    color: 
    #d0cfcf;
    float: left;
}
.sender-text ul li.last{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.sender-text ul li a{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}




		/****** post-right *******/
		
.post-right{
	margin:0px 0px 0px 15px;
	padding:0px 0px 0px 0px;
	float:right;
	max-width:300px;
	width:100%;
	border:1px solid #eaeaea;
	border-radius:5px;
}
.watched{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.watched h4{
	margin:0px 0px 0px 0px;
	padding:10px 15px 10px 15px;
	background:#f8f8f8;
	overflow:hidden;
}
.watched h4 img.most-pic{
	margin:2px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	    width: 20px;
}
.watched h4 span{
    margin: 0px 0px 0px 13px;
    padding: 1px 0px 0px 0px;
    font-weight: bold;
    font-size: 17px;
    color: #373737;
    float: left;
    line-height: 25px;
    font-weight: 900;
}
.watched h4 a{
	margin:1px 0px 0px 0px;
	font-size: 19px;
	color:#373737;
	float:right;
}
.watched h4 a:hover{
	color:#f00;
}
.view_small{
	height: 90px !important;
}
.view_small .inner-text{
	top: 56%;
}
.view_small .inner-text2{
	top: 33px;
}
img.settings-pic{
	margin:03px 0px 0px 0px;
	float:right;
}
.wtch-vid{
	margin:0px 0px 0px 0px;
	padding:15px 15px 15px 15px;
	overflow:hidden;
	border-bottom:1px solid #e8e8e8;
	width:100%;
}
img.wtch-pic{
	margin:0px auto 10px auto;
	display:block;
	width:100%;
}
.wtch-text{
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 0px;
	overflow:hidden;
}
.wtch-text p{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:500;
	font-size:14px;
	color:#004080;
	float:left;
}
.wtch-text ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
}
.wtch-text ul li{
	margin:0px 15px 0px 15px;
	padding:0px 0px 0px 0px;
	font-weight:500;
	font-size:14px;
	color:#b5b4b4;
	float:left;
}
.wtch-text ul li.last{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.wtch-text ul li a{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:14px;
	color:#b5b4b4;
}




.watched1{
	margin:0px 0px 0px 0px;
	padding:15px 15px 15px 15px;
	overflow:hidden;
	border-bottom:1px solid #e8e8e8;
	width:100%;
}
.watched1 img{ 
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.watched1-text{
	margin:5px 0px 0px 12px;
	padding:0px 0px 0px 0px;
	float:left;
	width:125px;
}
.watched1-text h5{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:500;
	font-size:10px;
	color:#444444;
}
.watched1-text h5 i.fas{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	color:#444444;
}
.watched1-text h5 span{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:8px;
}



.watched2{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	overflow:hidden;
}
.watched2-row{
	margin: 0px 0px 0px 0px;
	padding: 10px 15px 10px 15px;
	background:#f8f8f8;
	overflow: hidden;
}

.watched2-row h4 {
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    background:none;
    overflow: hidden;
	float:left;
}
.watched2-row h3 span{
	color:#070707;
}
ul.watched-list{
	margin:0px 0px 0px 0px;
	padding:4px 0px 0px 0px;
	float:right;
	width:83px;
}
ul.watched-list li{
	margin:0px 10px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
ul.watched-list li a{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-weight:normal;
	font-size:12px;
	color:#6b6b6b;
	display:block;
}
ul.watched-list li.last{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
ul.watched-list li a i.fas{
	font-size:17px;
}


.momnt{
	margin:0px 0px 0px 0px;
	padding:15px 15px 15px 15px;
	overflow:hidden;
}
.momnt img.momnt-img{
	margin:18px 6px 0px 7px;
	padding:0px 0px 0px 0px;
	float:left;
}
.momnt img.momnt-img2{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}


.watched-box{
	margin: 0px 0px 0px 0px;
	padding:0px 12px 0px 12px;
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	height:auto;
}
.new11{
	width: 91px;
}
.gal1 {
    margin: 0px 5px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.gal3 {
    /*margin: 0px 0px 0px 0px;*/
}
.gal1 .inner-text{
    padding:0px 15px 0px 15px;
}
.inner-text img {
    width: 35px;
}
.watched-box .inner-text h3 {
	margin: 0px 0px 0px 0px;
    font-size: 9.6px;
}
.watched-box .inner-text2 h3 {
	margin: 0px 0px 0px 0px;
    font-size: 9.6px;
}
.watched-box img.rvavtr{
	margin: 0px auto 5px auto;
	width:20px;
}
.watched-box .inner-text {
    bottom: 7px;
}


.adds{
	margin:20px 0px 0px 0px;
	padding:0px 15px 15px 15px;
	overflow:hidden;
}
img.add-bnr2{
	margin:15px 0px 0px 0px;
	display:block;
}

.video-header ul li a.hover{
	padding:16px 22px 16px 22px !important;
}





#blog-demo4 .item {
    padding: 0 0px !important;
}

#blog-demo4 .owl-prev {
    width:9px !important;
    height:14px !important;
    left: 170px !important;
	top: 39px !important;
    background: url(../images/left-arrow2.png) no-repeat center !important;
}
#blog-demo4 .owl-next {
    width:9px !important;
    height:14px !important;
    right:47px !important;
    top:39px !important;
    background: url(../images/right-arrow.png) no-repeat center !important;
}







.slides-part{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	position:relative;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top:120%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #b5b4b4 !important;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev{
	left:145px;
}
.next{
	right:36px;
}
/* Position the "next button" to the right */


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: grey;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color:transparent;
	padding: 2px 0px;
	font-weight: 500;
	font-size: 14px;
	color:#004080;
    position: absolute;
    margin: -3px 0px 0px 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity:1;
  position:absolute;
  left:180px;
  font-weight: 500;
	font-size: 14px;
	color:#b5b4b4;
	display:none;
}
.demo.active {
  opacity: 1;
  display:block;
}


/* status update modal */
.modal.new-popup-modal .modal-body .popup-custom-hdrs {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
    color:#333;
}
.mb-0{
    margin-bottom:0!important;
}
.mb-3{
    margin-bottom:1rem!important;
}
.mt-3{
    margin-top:1rem!important;
}
.ml-2 {
    margin-left: 0.5rem!important;
}
.ml-3{
    margin-left:1rem!important;
}
.mr-3{
    margin-right:1rem!important;
}
.nav-pills.nav-custom .nav-link.active, .nav-pills.nav-custom .show>.nav-link {
    color: #76757a;
    border-bottom: 4px solid #d60407;
    background-color: transparent;
    border-radius: 0;
}
.nav.nav-custom>li>a:focus, .nav.nav-custom>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

/* like tootltip */
.liketooltip {
  position: relative;
  display: inline-block;
}

.liketooltip .liketooltiptext {
  visibility: hidden;
  width: 120px;
  font-size:12px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.liketooltip .liketooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.liketooltip:hover .liketooltiptext {
  visibility: visible;
}

.guest-suggeston, .guest-suggeston li {
    display: flex!important;
    align-items: center;
}
.guest-suggeston li a{
    margin-top:0;
}
